/* All the information in the content tag will shift
depending on the device width */
.content {
    display: flex;
    flex-wrap: wrap;
  }

  .header {
    display: block;
    width: 100%;
  }

  /* The main image should be display from edge-to-edge */
  .main_image_section {
    display: block;
    width: 100%;
  }

/* Header responsive changes */
/*
For smaller devices the logo should appear above the header_title
and the header_short_description.
The text and logo should also appear centered */
@media screen and (max-width: 413px) {
   .header {
    text-align: center;
    padding-bottom: 10px;
   }

   .header_logo {
     margin-right: 20px;
   }
}

/*  The device width provides enough space for the header_logo
to be placed beside the header_title and head_short_description.
So the logo and text should be aligned to the left.  */
@media screen and (min-width: 481px) {
  .header {
   text-align: left;
  }
}

/* The device screen can should the header_title
and header_short_description in a large size
without wrapping to the next line */
@media screen and (min-width: 548px) {
  .header_title {
    font-size: 2em;
  }

  .header_short_description{
    font-size: 1.5em;
  }
}

/* The device screen can should the header_title
and header_short_description in a large size
without wrapping to the next line */
@media screen and (min-width: 680px) {
  .header_title {
    font-size: 3em;
  }

  .header_short_description{
    font-size: 2em;
  }
}

/* Projects responsive changes */
/* Display projects in a two-column format */
@media screen and (min-width: 520px) {
  .project_iten {
    width: 45%;
  }

  .projects_header {
    font-size: 2.5em;
  }
}

/* Display projects in a three-column format */
@media screen and (min-width: 750px) {
  .project_iten {
    width: 30%;
  }
}

/* Larger screen sizes */
/*
Images such as the main_image shart to expand too large and look
out of focus.
Use the major containers to set a max-size of 800.
Anything beyound those pixels will just create more margin space
but the items such as the images will not become distorted. */
@media screen and (min-width: 800px) {
main,
.header,
content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}