/* All the information in the content tag will shift
depending on the device width */
.container {
  display: flex;
  flex-wrap: wrap;
}

/* The main image should be display from edge-to-edge */
.main_image_section {
  display: block;
  position: relative;
  width: 100%;
}

/* Header responsive changes */
/*
For smaller devices the logo should appear above the header_title
and the header_short_description.
The text and logo should also appear centered */
@media screen and (max-width: 413px) {
  .header {
    padding-bottom: 2%;
  }

  .header_logo_section {
    width: 60px;
  }

  .header_logo {
    align-content: center;
    margin: 0 0 0 0;
  }
}

/*  The device width provides enough space for the header_logo
to be placed beside the header_title and head_short_description.
So the logo and text should be aligned to the left.  */
@media screen and (max-width: 414px) {
  .nav {
    font-size: 0.9em;
  }
}

/* To ensure the logo remains above the title information on medium-sized
devices */
@media screen and (min-width: 414px) {
  .header_title {
    font-size: 1.5em;
  }

  .header_short_description {
    font-size: 1em;
  }

  .header_logo_section {
    width: 70px;
  }

  .nav {
    font-size: 0.9em;
  }
}

/* The device screen can should the header_title
and header_short_description in a large size
without wrapping to the next line */
@media screen and (min-width: 548px) {
  .header_title {
    font-size: 1.8em;
  }

  .header_short_description {
    font-size: 1.2em;
  }

  .header_logo_section {
    width: 75px;
  }
}

/* The device screen can should the header_title
and header_short_description in a large size
without wrapping to the next line */
@media screen and (min-width: 680px) {
}

/* Projects responsive changes */
/* Display projects in a two-column format */
@media screen and (min-width: 520px) {
  .project_iten {
    width: 45%;
  }

  .projects_header {
    font-size: 2.5em;
  }
}

/* Display projects in a three-column format */
@media screen and (min-width: 750px) {
  .project_iten {
    width: 30%;
  }

  .header {
    padding-bottom: 1%;
  }

  .header_title {
    font-size: 2.2em;
  }

  .header_short_description {
    font-size: 1.5em;
  }

  .header_logo_section {
    width: 90px;
  }
}

/* Larger screen sizes */
/*
Images such as the main_image shart to expand too large and look
out of focus.
Use the major containers to set a max-size of 800.
Anything beyound those pixels will just create more margin space
but the items such as the images will not become distorted. */
@media screen and (min-width: 800px) {
  main,
  .header,
  content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
